/* Estilos generales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;

    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}


/* Encabezado 1 */

.musica{
    display: inline-block;
    text-align: center;
    width: 15rem;
    margin-top: 0.5rem;
    margin-left: -4rem;

}


#parar{
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
display: inline-block;
margin-left: -1.3rem;
margin-top: 1rem;
}

#parar img{
    width: 40px;
}


#happyButton{
    background-color: transparent;
    cursor: pointer;
    margin: 0 2rem;
    border-top: none;
    border-left: none;
    border-right: none;
  
}

#happyButton img{
    width: 35px;
}





#sadButton{
    background-color: transparent;
    cursor: pointer;
    margin: 0 2rem;
   border-top: none;
   border-left: none;
   border-right: none;

  
}

#sadButton img{
    width: 35px;
}




.selected {
    border-bottom: 3px solid black;
  }
  




.header-container {
    position: relative;
    height: 5rem;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #cfd0ca;
    height: 5rem;
}

.logo img {
    max-height: 60%;
    max-width: 270px;
    margin-right: 0.5rem;
    margin-left: -0.5rem;
    margin-top: 15px;
}

.language-switcher {
    display: flex;
    align-items: center;
    margin-right: 5rem;
}

.language-switcher a {
    margin-left: 0.5rem;
}

.hidden {
    display: none;
}

.language-switcher a img {
    margin-top: 1rem;
    width: 50px;
    height: 30px;
    border: none;
    cursor: pointer;
    border-radius: 15%;
    margin-left: 1rem;
}

.selected1 {
    box-shadow: 0px 0px 10px black;
}





/* Encabezado 2*/


.header-bottom {
    z-index: 99;
    position: absolute;

    display: flex;
    justify-content: center;
    width: 100%;

}

.header-bottom.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;

}

.nav2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: #2b2d2a;
    padding: 20px 40px;
    border: 1px solid black;
    height: 4.5rem;

}


.nav2 ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    list-style: none;

}


.nav2 li {
    margin: 0 30px;
}


.nav2 li a {
    color: #d5dadd;
    text-decoration: none;
    font-size: 26px;
    margin-top: -10px;

}

.nav2 li p {
    color: #d5dadd;
    text-decoration: none;
    font-size: 26px;
    margin-top: -10px;

}

.nav2 li a:hover {
    color: #2eb220;
}

.nav2 li p:hover {
    color: #2eb220;

}


.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: rgb(58, 58, 58);
    min-width: 160px;
    box-shadow: 0px 0px 10px black;
    margin-left: 1rem;
    margin-top: 0.5rem;

}


.dropdown-content a {
    color: #d5dadd;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-size: 16px;


}

.dropdown:hover .dropdown-content {
    display: block;

}

.dropbtn {
    color: #d5dadd;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;

}


.nav2 li.underline a {
    position: relative;

}

.nav2 li.underline a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 0%;
    height: 1px;
    background-color: #2eb220;
    transition: all 0.3s ease-in-out;
}

.nav2 li.underline a:hover::after {
    width: 100%;
}


#media {
    width: 100%;
    height: 720px;
}



/* Sección del héroe */



.hero-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

/* Estilos para la imagen */
.heroe {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
}


#texto-escrito {
    font-size: 30px;
    position: absolute;
    margin-left: -43rem;
    margin-top: -19rem;
}

#texto-adicional {
    font-size: 30px;
    position: absolute;
    margin-left: -43rem;
    margin-top: -19rem;
}



#miEnlace {
    display: none;
    font-size: 26px;
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    position: absolute;
    margin-left: -40rem;
    margin-top: -3rem;
    transition: all 300ms;
}

#miEnlace:hover {
    font-size: 30px;
    color: #2eb220;
}


#miEnlace {
    text-decoration: none;
}

#miEnlace::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 10px;
    left: 0;
    background-color: #000;
    transition: width 0.3s ease;
}

#miEnlace:hover::after {
    width: 100%;
}


/* Sección "Acerca de mí" */


#about {
    padding: 50px;
    width: 100%;
    height: 60rem;
    background-color: #cfd0ca;

}

#logo {
    max-width: 500px;
    margin-left: 0rem;
    margin-top: -5rem;
    margin-bottom: 4rem;
}

#about p {
    font-size: 23px;
    padding-left: 150px;
    padding-right: 150px;
}

#about p:first-of-type {
    margin-top: -9rem;
}


.scroll-anim {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s ease-in-out;
}

.scroll-anim.show {
    opacity: 1;
    transform: translateY(0);
}


/* Sección "Portafolio" */

#portfolio {
    padding: 80px 0;
    background-color: #cfd0ca;
    height: 58rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.project {
    width: calc(33.33% - 20px);
    margin-bottom: 40px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    margin-top: 10rem;
    height: 30rem;
}

.project:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.project img {
    width: 100%;
    height: 15rem;
}

.project h3 {
    margin: 20px;
    font-size: 24px;
    font-weight: 700;
    color: #333;
    margin-top: 4rem;
}

.project p {
    margin: 20px;
    font-size: 16px;
    color: #666;
}

.button1 {
    display: block;
    width: 120px;
    height: 40px;
    margin: 20px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.button1:hover {
    background-color: #666;
}



/* Sección "Contacto" */


#contact {
    position: relative;

    height: 50rem;
}

.botella {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 2;
}

#reto {
    color: #d5dadd;
    z-index: 9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    width: 31%;
    font-size: 28px;
    margin-top: -10rem;
}

#reto:hover {
    color: white;
    font-size: 30px;
    width: 33%;
    margin-left: 1rem;
}

.whats {
    display: flex;
    position: absolute;
    margin-left: 8rem;
    margin-top: 7rem;
    z-index: 5;
}

.whats img {
    width: 60px;
    height: 60px;
}

.whats p {

    font-family: Arial, Helvetica, sans-serif;
    color: #d5dadd;
    font-size: 26px;
    margin-top: 0.7rem;
    margin-left: 1rem;
    transition: all 300ms;

}

.whats p:hover {
    cursor: pointer;
    font-size: 28px;
    color: white;
}

.correo {
    display: flex;
    position: absolute;
    margin-left: 8rem;
    margin-top: 12rem;
    z-index: 5;

}



.correo img {
    width: 55px;
    height: 55px;
}

.correo p {
    font-size: 26px;
    margin-top: 0.5rem;
    margin-left: 1.5rem;


    font-family: Arial, Helvetica, sans-serif;
    color: #d5dadd;
    transition: all 300ms;
}

.correo p:hover {
    cursor: pointer;
    font-size: 28px;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    z-index: 5;
    margin-top: 13rem;
    margin-left: -1.2em;
}

form input[type="text"],
form input[type="email"],
form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 3px;
}

form textarea {
    resize: none;
    height: 150px;
}

form button[type="submit"] {
    display: inline-block;
    padding: 25px 9.1px;
    background-color: transparent;
    background-image: url(media/faviconnew.png);
    background-size: cover;
    color: transparent;
    cursor: pointer;
    margin-left: 44rem;
    font-size: 20px;
    border-radius: 50%;
    margin-top: -9rem;
    border: 2px solid #699ba5;
    box-shadow: 0px 0px 10px black;
    transition: all 200ms;
    width: 90px;
    height: 90px;
}

form button[type="submit"]:hover {
    box-shadow: 0px 0px 10px white;

}



@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.1);
    }

    100% {
        transform: scale(1);
    }
}

.pulse {
    animation: pulse 1s ease;
}



#enviar {
    color: #d5dadd;
    margin-left: 44rem;
    font-size: 20px;
}


/*footer*/


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 16px 0;
    height: 4rem;
    z-index: 999;
}

footer p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right: 7rem;
}




/* @media*/




@media only screen and (max-width: 379px) {
    body {
        display: none;
    }
}



@media only screen and (min-width: 380px) and (max-width: 479px) {

    /*Encabezado1*/ 


    .musica{
        display: none;
    }
    .logo img {
        margin-left: -0.5rem;
        max-width: 250px;
    }

    .language-switcher {
        margin-left: -1rem;
    }

    .language-switcher a img {
        width: 40px;
        height: 25px;
        margin-left: 0.5rem;
    }

    /*Encabezado2*/

    .nav2 {
        height: 6rem;
    }

    .nav2 li {
        width: 33%;
        text-align: center;
        margin: 2px 0;
        border-right: 1px solid #2eb220;

    }

    .nav2 li:last-child {
        border-right: none;

    }

    .nav2 li a {
        font-size: 16px;
    }

    .nav2 li.underline a {
        position: static;
    }

    .nav2 li p {
        font-size: 16px;
    }


    .dropdown-content {
        margin-top: 0.8rem;
    }

    /*Heroe*/

    .hero-section {
        height: 50rem;
        max-width: 100%;
    }

    #miEnlace {
        margin: 0px;
        margin-left: -15rem;
        margin-top: -4rem;
        font-size: 12px;
    }

    #miEnlace:hover {
        font-size: 14px;
    }

    #texto-adicional {
        margin: 0px;
        margin-top: -15rem;
        margin-left: -15rem;
        font-size: 16px;
    }

    #texto-escrito {
        display: none;
    }

    #texto-adicional {
        display: block;
    }

    /*Acerca de mi*/

    #about {
        padding: 50px;
        height: auto;
    }

    #logo {
        margin-top: -2rem;
        margin-left: -3rem;
        max-width: 120%;
        margin-bottom: 4rem;
    }

    #about p {
        font-size: 20px;
        text-align: left;
        padding-left: 0px;
        padding-right: 0px;
    }

    /*portafolio*/

    #portfolio {
        height: 100%;
    }

    .project {
        width: calc(65% + 1px);
        margin-left: 4rem;
    }

    /*Contacto*/

    #contact {
        max-height: 100%;
    }




    form {
        margin-top: 10rem;
        width: 65%;

    }

    form button[type="submit"] {
        margin-top: 0rem;
        margin-left: 0rem;
    }

    #enviar {
        margin-top: 0rem;
        margin-left: 0rem;

    }

    .whats {
        margin-top: 8rem;
        margin-left: 4rem;
    }

    .whats img {
        width: 40px;
        height: 40px;
    }

    .whats p {
        font-size: 20px;
    }

    .correo {
        margin-top: 12rem;
        margin-left: 4rem;

    }

    .correo img {
        width: 36px;
        height: 36px;
    }

    .correo p {
        font-size: 20px
    }

    #reto {
        display: none;
    }


    /*Footer*/

    footer p {
        font-size: 14px;

    }
}




@media only screen and (min-width: 480px) and (max-width: 719px) {

    /*Encabezado1*/

    .musica{
        display: none;
    }
    .logo img {
        margin-left: -0.5rem;
        max-width: 250px;
    }

    .language-switcher {
        margin-left: -1rem;
    }

    .language-switcher a img {
        width: 40px;
        height: 25px;
        margin-left: 0.5rem;
    }

    /*Encabezado2*/

    .nav2 {
        height: 6.7rem;
    }

    .nav2 li {
        width: 33%;
        text-align: center;
        margin: 5px 0;
        border-right: 1px solid #2eb220;

    }

    .nav2 li:last-child {
        border-right: none;

    }

    .nav2 li a {
        font-size: 17px;
    }

    .nav2 li.underline a {
        position: static;
    }

    .nav2 li p {
        font-size: 17px;
    }


    .dropdown-content {
        margin-top: 0.8rem;
    }

    /*Heroe*/

    .hero-section {
        height: 50rem;
        max-width: 100%;
    }

    #miEnlace {
        margin: 0px;
        margin-left: -18rem;
        margin-top: -4rem;
        font-size: 12px;
    }

    #miEnlace:hover {
        font-size: 14px;
    }

    #texto-adicional {
        margin: 0px;
        margin-top: -15rem;
        margin-left: -18rem;
        font-size: 16px;
    }

    #texto-escrito {
        display: none;
    }

    #texto-adicional {
        display: block;
    }

    /*Acerca de mi*/

    #about {
        padding: 50px;
        height: auto;
    }

    #logo {
        margin-top: -2rem;
        margin-left: -3rem;
        max-width: 130%;
        margin-bottom: 3rem;
    }

    #about p {
        font-size: 20px;
        text-align: left;
        padding-left: 0px;
        padding-right: 0px;
    }

    /*portafolio*/

    #portfolio {
        height: 100%;
    }

    .project {
        width: calc(65% + 1px);
        margin-left: 5.5rem;
    }

    /*Contacto*/

    #contact {
        max-height: 100%;
    }




    form {
        margin-top: 10rem;
        width: 65%;

    }

    form button[type="submit"] {
        margin-top: 0rem;
        margin-left: 0rem;
    }

    #enviar {
        margin-top: 0rem;
        margin-left: 0rem;

    }

    .whats {
        margin-top: 8rem;
        margin-left: 4rem;
    }

    .whats img {
        width: 40px;
        height: 40px;
    }

    .whats p {
        font-size: 20px;
    }

    .correo {
        margin-top: 12rem;
        margin-left: 4rem;

    }

    .correo img {
        width: 36px;
        height: 36px;
    }

    .correo p {
        font-size: 20px
    }

    #reto {
        display: none;
    }


    /*Footer*/

    footer p {
        font-size: 14px;

    }
}


@media only screen and (min-width: 719px) and (max-width: 1079px) {

    /*Encabezado1*/
    .logo img {
        margin-left: 0rem;
        max-width: 260px;
    }

    .language-switcher {
        margin-left: -1rem;
    }

    .language-switcher a img {
        width: 45px;
        height: 30px;
        margin-left: 0.5rem;
    }

    /*Encabezado2*/

    .nav2 {
        height: 6.8rem;
    }

    .nav2 li {
        width: 33%;
        text-align: center;
        margin: 5px 0;
        border-right: 1px solid #2eb220;

    }

    .nav2 li:last-child {
        border-right: none;

    }

    .nav2 li a {
        font-size: 19px;
    }

    .nav2 li.underline a {
        position: static;
    }

    .nav2 li p {
        font-size: 19px;
    }


    .dropdown-content {
        margin-top: 0.5rem;
    }

    /*Heroe*/

    .hero-section {
        height: 50rem;
        max-width: 100%;
    }


    #miEnlace {
        margin: 0px;
        margin-left: -25rem;
        margin-top: -6rem;
        font-size: 18px;
    }

    #miEnlace:hover {
        font-size: 20px;
    }

    #texto-adicional {
        margin: 0px;
        margin-top: -17rem;
        margin-left: -28rem;
        font-size: 20px;
    }

    #texto-escrito {
        display: none;
    }

    #texto-adicional {
        display: block;
    }

    /*Acerca de mi*/

    #about {
        padding: 50px;
        height: auto;
    }

    #logo {
        margin-top: -2rem;
        margin-left: -2rem;
        max-width: 150%;
        margin-bottom: 4rem;
    }

    #about p {
        font-size: 20px;
        text-align: left;
        padding-left: 50px;
        padding-right: 50px;
    }

    /*portafolio*/

    #portfolio {
        height: 100%;
    }

    .project {
        width: calc(50% + 1px);
        margin-left: 12rem;
    }

    /*Contacto*/

    #contact {
        max-height: 100%;
    }




    form {
        margin-top: 11rem;
        width: 50%;

    }

    form button[type="submit"] {
        margin-top: 0rem;
        margin-left: 0rem;
    }

    #enviar {
        margin-top: 0rem;
        margin-left: 0rem;

    }

    .whats {
        margin-top: 8rem;
        margin-left: 6rem;
    }

    .whats img {
        width: 40px;
        height: 40px;
    }

    .whats p {
        font-size: 20px;
    }

    .correo {
        margin-top: 12rem;
        margin-left: 6rem;

    }

    .correo img {
        width: 36px;
        height: 36px;
    }

    .correo p {
        font-size: 20px
    }

    #reto {
        display: none;
    }


    /*Footer*/

    footer p {
        font-size: 14px;

    }
}



@media only screen and (min-width: 1080px) and (max-width: 1399px) {

    /*Encabezado1*/
    .logo img {
        margin-left: -0.3rem;
        max-width: 270px;
    }

    .language-switcher {
        margin-left: 0rem;
    }

    .language-switcher a img {
        width: 45px;
        height: 30px;
        margin-left: 0.5rem;
    }

    /*Encabezado2*/

    .nav2 {
        height: 4rem;
    }

    .nav2 li:last-child {
        border-right: none;

    }

    .nav2 li a {
        font-size: 22px;
    }

    .nav2 li.underline a {
        position: static;
    }

    .nav2 li p {
        font-size: 22px;
    }


    .dropdown-content {
        margin-top: 0.3rem;
    }

    /*Heroe*/

    .hero-section {
        max-height: 100%;
    }


    #miEnlace {
        margin: 0px;
        margin-left: -40rem;
        margin-top: -6rem;
        font-size: 22px;
    }

    #miEnlace:hover {
        font-size: 24px;
    }

    #texto-escrito {
        margin: 0px;
        margin-top: -18rem;
        margin-left: -40rem;
        font-size: 24px;
    }

    /*Acerca de mi*/

    #about {
        padding: 50px;
        height: auto;
    }

    #logo {
        margin-top: -2rem;
        margin-left: -2rem;
        max-width: 150%;
        margin-bottom: 4rem;
    }

    #about p {
        font-size: 20px;
        text-align: left;
        padding-left: 100px;
        padding-right: 100px;
    }

    /*portafolio*/

    #portfolio {
        height: 100%;
    }

    .project {
        margin-left: 0rem;
    }

    /*Contacto*/

    #contact {
        max-height: 100%;
    }



    form {
        margin-top: 10rem;
        width: 40%;

    }

    form button[type="submit"] {
        margin-left: 40rem;
    }

    #enviar {
        margin-left: 40rem;

    }

    .whats {
        margin-top: 8rem;
        margin-left: 6rem;
    }

    .whats img {
        width: 40px;
        height: 40px;
    }

    .whats p {
        font-size: 24px;
    }

    .correo {
        margin-top: 12rem;
        margin-left: 6rem;

    }

    .correo img {
        width: 36px;
        height: 36px;
    }

    .correo p {
        font-size: 24px
    }

    #reto {
        display: none;
    }


    /*Footer*/

    footer p {
        font-size: 14px;

    }
}





@media only screen and (min-width: 1400px) and (max-width: 1699px) {

    /*Encabezado1*/
    .logo img {
        margin-left: 0rem;
        max-width: 250px;
    }

    .language-switcher {
        margin-left: 0rem;
    }

    .language-switcher a img {
        width: 45px;
        height: 30px;
        margin-left: 0.5rem;
    }

    /*Encabezado2*/

    .nav2 li a {
        font-size: 22px;
    }

    .nav2 li p {
        font-size: 22px;
    }

    /*Heroe*/


    .hero-section {
        max-height: 100%;
    }


    #miEnlace {
        margin: 0px;
        margin-left: -35rem;
        margin-top: -3rem;
        font-size: 24px;
    }

    #miEnlace:hover {
        font-size: 26px;
    }



    #texto-escrito {
        margin-top: -17rem;
        margin-left: -35rem;
        font-size: 26px;
    }

    #texto-adicional {
        display: block;
    }

    /*Acerca de mi*/

    #about {
        padding: 50px;
        height: auto;
    }

    #logo {
        margin-top: -2rem;
        margin-left: -2rem;
        max-width: 150%;
        margin-bottom: 4rem;
    }

    #about p {
        padding-left: 125px;
        padding-right: 125px;
        font-size: 20px;
        text-align: left;
    }

    /*portafolio*/

    #portfolio {
        height: 100%;
    }

    .project {
        margin-left: 0rem;
    }

    /*Contacto*/

    #contact {
        max-height: 100%;
    }




    form {
        margin-top: 10rem;
        width: 33%;

    }


    .whats {
        margin-top: 8rem;
        margin-left: 6rem;
    }

    .whats img {
        width: 40px;
        height: 40px;
    }

    .whats p {
        font-size: 24px;
    }

    .correo {
        margin-top: 12rem;
        margin-left: 6rem;

    }

    .correo img {
        width: 36px;
        height: 36px;
    }

    .correo p {
        font-size: 24px
    }

    #reto {
        margin-top: -10rem;
        font-size: 22px;
        width: 30%;
    }

    #reto:hover {
        font-size: 24px;
        width: 33%;

    }


    /*Footer*/

}


/* Fuentes*/

@font-face {
    font-family: 'Raleway';
    src: url('media/static/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('media/static/Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}